{% if current_user.is_authenticated %}
    <a href="{{ url_for('logout') }}">Sign Out {{current_user.username}}</a>
{% else %}
    <a href="{{ url_for('login') }}">Sign In</a>
{% endif %}

{% block navigation %}
<ul><i>
    <li><a href="{{ url_for('index') }}">Search for gifs</a>
    <li><a href="{{ url_for('create_collection') }}">Create a personal restaurant collection</a></li>
    <li><a href="{{ url_for('collections') }}">See your collections</a></li></li></i>
</ul>
<p>--------</p><br>
{% endblock %}
