{% import 'bootstrap/wtf.html' as wtf %}
{% block nav %}
<ul><i>
    <li><a href="{{ url_for('index') }}">Search for restaurants</a>
    <li><a href="{{ url_for('create_collection') }}">Create a personal restaurant collection</a></li>
    <li><a href="{{ url_for('collections') }}">See your collections</a></li>
    <li><a href="{{ url_for('all_restaurants') }}">See all of your restaurants</a></li>
</ul>
<p>--------</p><br>
{% endblock %}

<h1>My collections</h1>

{% block main_content %}
<ul>
    {% for c in collections %}
    <li><a href="http://localhost:5000/collection/{{ c.id }}">{{ c.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
