{% import 'bootstrap/wtf.html' as wtf %}

{% block nav %}
<ul><i>
    <li><a href="{{ url_for('index') }}">Search for restaurants</a>
    <li><a href="{{ url_for('create_collection') }}">Create a personal restaurant collection</a></li>
    <li><a href="{{ url_for('collections') }}">See your collections</a></li>
    <li><a href="{{ url_for('all_restaurants') }}">See all of your restaurants</a></li>
</ul>
<p>--------</p><br>
{% endblock %}

<h1>Review {{collection}}</h1>
<form method="post">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    {{ form.user_review.label }} {{ form.user_review() }}<br>
    {{ form.userRanking.label }} {{ form.userRanking() }}<br>
    {{ form.submit() }}
</form>
