{% import 'bootstrap/wtf.html' as wtf %}

{% block nav %}
<ul><i>
    <li><a href="{{ url_for('index') }}">Search for restaurants</a>
    <li><a href="{{ url_for('create_collection') }}">Create a personal restaurant collection</a></li>
    <li><a href="{{ url_for('collections') }}">See your collections</a></li>
    <li><a href="{{ url_for('all_restaurants') }}">See all of your restaurants</a></li>
</ul>
<p>--------</p><br>
{% endblock %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method="POST" action="/update/{{ item_id }}">
	{{ form.hidden_tag() }}
	{{form.newRanking.label }} {{ form.newRanking() }}
	{{ form.submit() }}
	</form>

	<div>
	{% for message in get_flashed_messages() %}
		{{ message }}
	{% endfor %}
	</div>

</body>
</html>
